<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="{% url 'index' %}">Libros</a>
        <a class="nav-item nav-link" href="#" id="carrito_compras">Carrito de compras</a>
        {% if user.is_staff %}
          <a class="nav-item nav-link" href="{% url 'libros:addBook' %}">Agregar libro</a>
          <a class="nav-item nav-link" href="{% url 'ventas:reportes' %}">Reportes</a>
        {% endif %}
        <a class="nav-item nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
        {% else %}
        <a class="nav-item nav-link" href="{% url 'users:login' %}">Iniciar sesión</a>
        <a class="nav-item nav-link" href="{% url 'users:register' %}">Registro</a>
      {% endif %}
    </div>
  </div>
</nav>