{% extends "base.html" %}
{% block title %}
  Subir nuevo libro
{% endblock %}

{% block content %}
  <br>  
  <h1>Aquí podras subir un nuevo libro</h1>
  
  {% if sucessfull %}
    <div class="alert alert-success" role="alert">
      {{ sucessfull }}
    </div>
  {% endif %}

  <form method="POST" action="{% url 'libros:addBook' %}" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="titulo">Titulo</label>
      <input required type="text" class="form-control" id="titulo" aria-describedby="titulo" placeholder="Ingrese titulo del libro" name="titulo" max=100>
      {% if titulo_error %}
        <strong> <p class="text-danger">{{ titulo_error }}</p> </strong>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="precio">Precio</label>
      <input required type="number" class="form-control" id="precio" placeholder="Ingrese el precio" min=0 name="precio">
      {% if precio_error %}
        <strong> <p class="text-danger">{{ precio_error }}</p> </strong>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="disponible">Cantidad disponibles</label>
      <input required type="number" class="form-control" id="disponible" aria-describedby="disponible" placeholder="Ingrese cantidad disponible del libro" name="disponible" min=0 >
      {% if disponible_error %}
        <strong> <p class="text-danger">{{ disponible_error }}</p> </strong>
      {% endif %}
    </div>
    
    <div class="form-group">
      <label for="imagen">Imagen del libro</label>
      <input type="file" class="form-control-file" name="imagen" accept=".png,.jpg,.jpeg">
      {% if imagen_error %}
        <strong> <p class="text-danger">{{ imagen_error }}</p> </strong>
      {% endif %}
    </div>
    

    <button type="submit" class="btn btn-primary">Guardar libro</button>
  </form>

{% endblock %}