{% extends "base.html" %}
{% block title %}
  Reportes
{% endblock %}

{% block content %}
  <br>  
  <h1>Revisa los reportes de ventas</h1>

  <hr>

  {% for usuario in ventas %}
    <h4>{{ usuario.0.email }}</h4>

    {% for venta in usuario.1 %}
      <p><strong> Fecha </strong>: {{venta.fecha_hora}}</p>
      <p><strong>Libro: </strong> {{venta.libro.titulo}}</p>
      <p><strong>Cantidad: </strong>{{venta.cantidad}}</p>
      <p><strong>Total: </strong>{{venta.total}}</p>
      -----------------------------------------------------
    {% endfor %}
    <hr>
  {% endfor %}

{% endblock %}