{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
  Carrito de compras
{% endblock %}

{% block content %}
  <br>
  <h1>Harry Books - Tienda online</h1>

  <hr>
  <br>
  <h4>Carrito de compras</h4>
  <br>

  {% if cancelacion %}
    <div class="alert alert-danger" role="alert">
      {{ cancelacion }}
    </div>
  {% endif %}

  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Eliminar</th>
          <th scope="col">Libro</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Valor unitario</th>
          <th scope="col">Valor Total</th>
        </tr>
      </thead>
      <tbody>
        <form action="{% url 'ventas:venta' %}" method="POST" id="form_confirmar">
          {% csrf_token %}
          {% for l in libros %}
            <tr id="{{ l.0.id }}_item">
              <th scope="row"><a class="btn btn-danger delete_carrito" id="{{ l.0.id }}" href="#">Eliminar</a></th>
              <td>{{ l.0.titulo }}</td>
              <td>{{ l.1 }}</td>
              <td>{{ l.0.precio }}</td>
              <td id="{{ l.0.id }}_precio">{{ l.2 }}</td>
              <input type="hidden" name="{{ l.0.id }}" value="{{ l.1 }}" id="libro_{{ l.0.id }}">
            </tr>
          {% endfor %}
        </form>
      </tbody>
    </table>

    <br>
    <div class="row">
      <div class="col-5"></div>
      <div id="valor_compra_text">Valor total de la compra: ${{ valor_compra }}</div>
      <input id="valor_compra" name="valor_compra" type="hidden" value="{{ valor_compra }}">
    </div>
    
    {% if not cancelacion and libros %}
      <a class="btn btn-warning text-light" data-toggle="modal" data-target="#modal_cancelar">Cancelar compra</a>
      <a class="btn btn-primary text-light" data-toggle="modal" data-target="#modal_confirmar1">Confirmar compra</a>
      {% include 'layouts/modal_cancelar.html' %}
      {% include 'layouts/modal_confirmar1.html' %}
      {% include 'layouts/modal_confirmar2.html' %}
    {% endif %}

    <form action="{% url 'carrito' %}" method="GET" id="form_cancelar">
      {% csrf_token %}
    </form>

{% endblock %}
{% block scripts %}
    <script type="text/javascript">
      $(document).ready(function(){
        $('.delete_carrito').click(function(){
          var id = this.id;
          var id_item = id + "_item";
          var id_precio = id + "_precio";
          var row_item = document.getElementById(id_item);
          var valor_descontar = document.getElementById(id_precio).innerText;
          var valor_compra = document.getElementById("valor_compra").getAttribute("value");
          var nuevo_total = parseFloat(valor_compra) - parseFloat(valor_descontar);
          document.getElementById("valor_compra_text").innerText = "Valor total de la compra: $" + nuevo_total;
          document.getElementById("valor_compra").setAttribute("value", nuevo_total);
          $(row_item).remove();
        });
      });
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        $('#confirmar_cancelacion').click(function(){
          document.getElementById("form_cancelar").submit();
        });
      });
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        $('#confirmar_compra').click(function(){
          document.getElementById("form_confirmar").submit();
        });
      });
    </script>
{% endblock %}