{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
  Lista de libros
{% endblock %}

{% block content %}
  <br>
  <h1>Harry Books - Tienda online</h1>

  <hr>
  <br>
  <h4>Libros disponibles</h4>
  <br>
  {% if sucessfull %}
    <div class="alert alert-success" role="alert">
      {{ sucessfull }}
    </div>
    <a href="{% url 'index' %}" class="btn btn-primary text-light">Ver listado de libros</a>
  {% endif %}
  <form action="{% url 'carrito' %}" method="POST" id="form_libros">
    {% csrf_token %}
    {% for l in libros %}
      <div class="row">
          <div class="col-2"></div>
          <div class="col-2">
            <img src="{{ l.imagen.url }}" class="float-left" style="width:150px; height:170px;">
          </div>
          <div class="col-1"></div>
          <div class="col-7">
            
            <div class="row">
              <strong><p>{{ l.titulo }}</p></strong>
            </div>
            
            <div class="row">
              Cantidad disponible: {% if l.disponibles == 0 %} Agotado {% else %} {{ l.disponibles }} {% endif %}
            </div>
            
            <div class="row">
              Precio: ${{ l.precio }}
            </div>
            {% if l.disponibles != 0 %}
              <div class="row">
                Agregar al carrito: <input id="{{ l.id }}_cantidad" type="number" min=0 max="{{ l.disponibles }}" value="0"> <a class="btn btn-primary text-white addcarrito" id="{{ l.id }}">Agregar al carrito</a>
                <input type="hidden" name="{{ l.id }}" value="0" id="libro_{{ l.id }}">
              </div>
            {% endif %}          
          </div>        
      </div>
      <br>
    {% endfor %}
  </form>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.addcarrito').click(function(){
        var id = this.id;
        var cantidad_input = id + "_cantidad";
        var cantidad = document.getElementById(cantidad_input).value;
        cantidad = parseInt(cantidad)
        var max = document.getElementById(cantidad_input).getAttribute("max");
        max = parseInt(max);
        if (cantidad > max) {
          alert("Cantidad de libros disponibles excedido");
        } else if(cantidad > 0 && cantidad <= max) {
          document.getElementById("libro_" + id).setAttribute("value", cantidad);
          alert("Agregado al carrito")
        }
      });
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('#carrito_compras').click(function(){
        document.getElementById("form_libros").submit(); 
      });
    });
  </script>
{% endblock %}