{% extends "base.html" %}
{% block title %}
  Iniciar sesion
{% endblock %}

{% block content %}
  <br>  
  <h1>Inicia sesión en la tienda de libros de Harry Potter</h1>
  
  {% if error_login %}
  <div class="alert alert-danger" role="alert">
    {{ error_login }}
  </div>
  {% endif %}

  <form method="POST" action="{% url 'users:login' %}">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="exampleInputEmail1">Correo electronico</label>
      <input required type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese correo" name="email">
      <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu correo con alguien mas.</small>
      {% if user_exist %}
        <strong> <p class="text-danger">{{ user_exist }}</p> </strong>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Contraseña</label>
      <input required type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese su contraseña" min=6 max=20 name="password">
      {% if password %}
        <strong> <p class="text-danger">{{ password }}</p> </strong>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

{% endblock %}